html{
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}
#sidebar-toggle{
    display: none;
}
#sidebar-toggle:checked ~ .sidebar{
    width: 3.7rem;
}
#sidebar-toggle:checked ~ .main-content{
    margin-left: 3.7rem;
}
#sidebar-toggle:checked ~ .main-content header{
    left: 3.7rem;
}
#sidebar-toggle:checked ~ .sidebar .sidebar-header h3,#sidebar-toggle:checked ~ .sidebar li span:last-child{
    display: none;
}
#sidebar-toggle:checked ~ .sidebar .sidebar-header,#sidebar-toggle:checked ~ .sidebar li{
    display: flex;
    justify-content: center;
}
.sidebar{
    height: 100%;
    width: 14.5rem;
    position: fixed;
    left: 0; top: 0;
    z-index: 1;
    background: var(--primaycolor);
    color: #fff;
    transition: width 500ms;  
}
.sidebar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.7rem;
    padding: 0rem 1rem;
}
.sidebar-header h3{
    color: rgba(0, 0, 0, .7);
    font-size: 2rem;
}
.sidebar-menu{
    padding: 1rem;
}
.sidebar-menu ul{
    list-style: none;
}
.sidebar-menu ul li{
    color: #222;
    padding-bottom: 1rem;
}
.sidebar-menu ul li:hover{
    transform: scale(1.1);
}
.sidebar-menu ul li span{
    padding-left: .5rem;
}
.main-content{
    position: relative;
    margin-left: 14.5rem;
    transition: margin-left 500ms;
}
a{
    color: #000;
}
header{
    position: fixed;
    top: 0; right: 0;
    left: 14.5rem;
    z-index: 2;
    height: 3.7rem;
    padding: 0rem 1rem;
    display: flex;
    background: #fff;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #8390A2;
    transition: left 500ms;
}
.search-wrapper,.user-profile{
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, .8);
}
.search-wrapper input{
    border: 0;
    outline: 0;
    padding: 1rem;
    height: 2rem;
}
.user-profile span{
    font-size: 1.4rem;
}
.user-profile h2{
    padding: .5rem;
    display: inline;
    font-size: 1rem;
}
main{
    margin-top: 3.7rem;
    background: #f1f5f9;
    min-height: 90vh;
    padding: 1rem;
}
main h2{
    color: #222;
    padding-top: 2rem;
    padding-left: .5rem;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.dash-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 2rem;
}
.card-single{
    background: #fff;
    border-radius: 7px;
}
.card-body{
    padding: 1rem;
    display: flex;
    align-items: center;
}
.card-body i{
    font-size: 1.5rem;
    color: var(--primaycolor);
    padding-left: 7.5rem;
}
.card-body h5{
    color: #222;
    font-size: 1rem;
    padding-bottom: 1rem;
}
.top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.top .change{
    margin: 1rem;
    padding:1rem;
    border: none;
    font-size: 1.3rem;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);
}
.change:hover{
    background: var(--primaycolor);
}
.list{
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    margin: 1rem;
    flex: 1 1 50rem;
    padding: 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
}
.list table{
    width: 100%;
    border-collapse: collapse;
    justify-content: center;
    text-align: center;
}
.list th{
    background-color: #47b0b0a3;
    font-size: 1.3rem;
}
.list td, .list th {
    border: 1px solid #ddd;
    padding: .5rem;
}
.list .btn{
    width: 4rem;
    font-size: 1rem;
    padding: .2rem .4rem;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
}
.inputBox{
    display: flex;
    flex-wrap: wrap;
}
.inputBox form{
    background: #fff;
    margin: 1rem;
    flex: 1 1 50rem;
    padding: 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
}
.inputBox input,.inputBox textarea{
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: #333;
    background: #f7f7f7;
    text-transform: none;
    border-radius: .5rem;
}
form textarea{
    height: 15rem;
    resize: none;
}
.inputBox h3{
    font-size: 1.2rem;
    padding: 1rem 0;
    color: #222;
}
input[type="submit"]{
    width: 5rem;
    margin-right: 1rem;
    font-size: 1.3rem;
    padding: .2rem .4rem;
    color: #000;
    background: var(--primaycolor);
}
.inputBox button{
    width: 5rem;
    font-size: 1.3rem;
    padding: .2rem .4rem;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.row .btn{
    width: auto;
    text-align: center;
}
@media only screen and (max-width:780px){
    .sidebar{
        width: 3.7rem;
    }
    .main-content{
        margin-left: 3.7rem;
    }
    .main-content header{
        left: 3.7rem;
    }
    .sidebar .sidebar-header h3,.sidebar li span:last-child{
        display: none;
    }
    .sidebar .sidebar-header,.sidebar li{
        display: flex;
        justify-content: center;
    }
}
@media only screen and (max-width:860px){
    .dash-cards{
        grid-template-columns: repeat(2,1fr);
    }
    .card-single{
        margin-bottom: 1rem;
    }
    .list{
        margin: 0;
        padding: 0;
    }
    .list th{
        font-size: 1rem;
    }
    .list td, .list th {
        font-size: .7rem;
    }
    .list .btn{
        width: 2.5rem;
        font-size: .7rem;
    }
}